@{
    ViewBag.Title = "Home Page";
}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BuildMyPC</title>
</head>

<body>

 

    <!-- Header with Background Image -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 style="color:white" class="display-3 text-center text-white mt-4">BuildMyPC</h1><br /><br />
                  <h2 style="color:white" class="display-3 text-center text-white mt-4">The Ideal Site to plan a Computer Build.
              <br /><br /> <br /> <br /><br /><a class="btn btn-primary btn-lg text-center  text-white mt-4 display-3" href="~/Home/List">Start a Build!</a></h2>
                   
                  

                </div>
            </div>
        </div>
    </header>
    <hr />
    <!-- Page Content -->
    <div  class="container">

        <div class="row">
            <div class="col-sm-8">
                <h2 class="mt-4">Community Builds</h2>
                <p>Building a PC is not a simple task, it takes time and effort to find the right compatible parts which are in your budget range, So why not check out other Users builds?</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="~/Home/Share">Shared Builds</a>
                </p>
            </div>
         
        </div>
        <!-- /.row -->
        <h2 style="text-align:center">Recent Builds</h2>
        <hr />

        <div class="row">
            <div class="col-sm-4 my-4">
                <div class="card">
                    <img class="card-img-top" src="~/Images/casedisplay.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Cooler Master HT45</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
                    </div>
                   
                </div>
            </div>
            <div class="col-sm-4 my-4">
                <div class="card">
                    <img class="card-img-top" src="~/Images/h.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">"Aurora" Ryzen Build</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque</p>
                    </div>
                    
                </div>

            </div>
            <div class="col-sm-4 my-4">
                <div class="card">
                    <img class="card-img-top" src="~/Images/pcholder2.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Thermaltake Core P3</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                   
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
  

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>

<style>
    body {
  padding-top: 54px;
}



.business-header {
  height: 50vh;
  min-height: 300px;
  background: url('../../Images/pcbg.png') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.card {
  height: 100%;
}
</style>