@model BuildMyPC.ViewModels.IndexListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Part List Builder</h2>
<hr />

<table class="table table-dark table-hover">
    <thread>
        <tr>
            <th>Component</th>
            <th>Selection</th>



        </tr>
    </thread>
    <tbody>


        <tr>
            <td>Cpu</td>
            <td>

                @{ var cpu = Session["Cpu"];}
                @if (cpu != null)
                {
                    <p>Added</p>
                }
                else
                {
                    <a class="btn btn-primary btn-sm" href="~/CPU/Index">Choose from List</a>
                }
            </td>
        </tr>
        <tr>
            <td>Motherboard</td>
            <td>
                @{ var motherboard = Session["motherboard"]; }
                @if (motherboard != null)
                {
                    <p>Added</p>
                }
                else
                {
                    <a class="btn btn-primary btn-sm" href="~/MotherBoard/Index">Choose from List</a>
                }
            </td>
        </tr>
        <tr>
            <td>Memory</td>
            <td>
                @{ var memory = Session["memory"]; }
                @if (memory != null)
                {
                    <p>Added</p>
                }
                else
                {
                    <a class="btn btn-primary btn-sm" href="~/Memory/Index">Choose from List</a>
                }
            </td>
        </tr>
        <tr>
            <td>Video Card</td>
            <td>
                @{ var videocard = Session["videocard"]; }
                @if (videocard != null)
                {
                    <p>Added</p>
                }
                else
                {
                    <a class="btn btn-primary btn-sm" href="~/VideoCard/Index">Choose from List</a>
                }
            </td>
        </tr>
        <tr>
            <td>Storage</td>
            <td>

                @{ var storage = Session["storage"]; }
                @if (storage != null)
                {
                    <p>Added</p>
                }
                else
                {
                    <a class="btn btn-primary btn-sm" href="~/Storage/Index">Choose from List</a>
                }
            </td>
        </tr>
        <tr>
            <td>Power Supply</td>
            <td>
                @{ var powersupply = Session["powersupply"]; }
                @if (powersupply != null)
                {
                    <p>Added</p>
                }
                else
                {
                    <a class="btn btn-primary btn-sm" href="~/PowerSupply/Index">Choose from List</a>
                }
            </td>
        </tr>
        <tr>
            <td>Case</td>
            <td>
                @{ var cases = Session["cases"]; }
                @if (cases != null)
                {
                    <p>Added</p>
                }
                else
                {
                    <a class="btn btn-primary btn-sm" href="~/Case/Index">Choose from List</a>
                }
            </td>
        </tr>

    </tbody>
</table>

<span class="btn btn-default">@Html.ActionLink("View my Build!", "Index", "Build")</span>
@*<a class="btn btn-primary" href="#">View my Build!</a>*@
